/* CSS Document    Style sheet for the CSS2 specification */

.OPDForm
{
font-family: Tahoma,Helvetica;
font-size: 12px;    
}

.TabTerm
{
font-family: Tahoma,Helvetica;
font-size: 12px; 
background-color: #EBF3FF;
border: 3px;
border-bottom-color: #FFFFFF;
}

.HeadTerm
{
background-color: #D3E7FF;
}

