<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>SoftManagOPDServ.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocaleTrans</servlet-name>
        <servlet-class>SoftManagOPDServ.LocaleTrans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>SoftManagOPDServ.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>SoftManagOPDServ.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProducts</servlet-name>
        <servlet-class>SoftManagOPDServ.ListProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDepartments</servlet-name>
        <servlet-class>SoftManagOPDServ.ListDepartments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSoftCompanies</servlet-name>
        <servlet-class>SoftManagOPDServ.ListSoftCompanies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantDepart</servlet-name>
        <servlet-class>SoftManagOPDServ.MantDepart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThesTree</servlet-name>
        <servlet-class>SoftManagOPDServ.ThesTree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SThesRec</servlet-name>
        <servlet-class>SoftManagOPDServ.SThesRec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantSoftComp</servlet-name>
        <servlet-class>SoftManagOPDServ.MantSoftComp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantProducts</servlet-name>
        <servlet-class>SoftManagOPDServ.MantProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListVers</servlet-name>
        <servlet-class>SoftManagOPDServ.ListVers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantVersions</servlet-name>
        <servlet-class>SoftManagOPDServ.MantVersions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDep</servlet-name>
        <servlet-class>SoftManagOPDServ.ListDep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantDepend</servlet-name>
        <servlet-class>SoftManagOPDServ.MantDepend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantDependFilter</servlet-name>
        <servlet-class>SoftManagOPDServ.MantDependFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DependTree</servlet-name>
        <servlet-class>SoftManagOPDServ.DependTree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpactTree</servlet-name>
        <servlet-class>SoftManagOPDServ.ImpactTree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListIssues</servlet-name>
        <servlet-class>SoftManagOPDServ.ListIssues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantIssue</servlet-name>
        <servlet-class>SoftManagOPDServ.MantIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListIsuesVer</servlet-name>
        <servlet-class>SoftManagOPDServ.ListIsuesVer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocList</servlet-name>
        <servlet-class>SoftManagOPDServ.DocList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendDoc</servlet-name>
        <servlet-class>SoftManagOPDServ.SendDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDocExt</servlet-name>
        <servlet-class>SoftManagOPDServ.AddDocExt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoldTree</servlet-name>
        <servlet-class>SoftManagOPDServ.FoldTree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocCombo</servlet-name>
        <servlet-class>SoftManagOPDServ.DocCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportDocF</servlet-name>
        <servlet-class>SoftManagOPDServ.ImportDocF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpFileStatus</servlet-name>
        <servlet-class>SoftManagOPDServ.UpFileStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>SoftManagOPDServ.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIn</servlet-name>
        <servlet-class>SoftManagOPDServ.CheckIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCheckOut</servlet-name>
        <servlet-class>SoftManagOPDServ.CancelCheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModDoc</servlet-name>
        <servlet-class>SoftManagOPDServ.ModDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModDocF</servlet-name>
        <servlet-class>SoftManagOPDServ.ModDocF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListVerDoc</servlet-name>
        <servlet-class>SoftManagOPDServ.ListVerDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelDoc</servlet-name>
        <servlet-class>SoftManagOPDServ.DelDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterForm</servlet-name>
        <servlet-class>SoftManagOPDServ.FilterForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocaleTrans</servlet-name>
        <url-pattern>/LocaleTrans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProducts</servlet-name>
        <url-pattern>/ListProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDepartments</servlet-name>
        <url-pattern>/ListDepartments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSoftCompanies</servlet-name>
        <url-pattern>/ListSoftCompanies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantDepart</servlet-name>
        <url-pattern>/MantDepart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThesTree</servlet-name>
        <url-pattern>/ThesTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SThesRec</servlet-name>
        <url-pattern>/SThesRec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantSoftComp</servlet-name>
        <url-pattern>/MantSoftComp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantProducts</servlet-name>
        <url-pattern>/MantProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListVers</servlet-name>
        <url-pattern>/ListVers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantVersions</servlet-name>
        <url-pattern>/MantVersions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDep</servlet-name>
        <url-pattern>/ListDep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantDepend</servlet-name>
        <url-pattern>/MantDepend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantDependFilter</servlet-name>
        <url-pattern>/MantDependFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DependTree</servlet-name>
        <url-pattern>/DependTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpactTree</servlet-name>
        <url-pattern>/ImpactTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListIssues</servlet-name>
        <url-pattern>/ListIssues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantIssue</servlet-name>
        <url-pattern>/MantIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListIsuesVer</servlet-name>
        <url-pattern>/ListIsuesVer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocList</servlet-name>
        <url-pattern>/DocList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendDoc</servlet-name>
        <url-pattern>/SendDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocExt</servlet-name>
        <url-pattern>/AddDocExt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoldTree</servlet-name>
        <url-pattern>/FoldTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocCombo</servlet-name>
        <url-pattern>/DocCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportDocF</servlet-name>
        <url-pattern>/ImportDocF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpFileStatus</servlet-name>
        <url-pattern>/UpFileStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIn</servlet-name>
        <url-pattern>/CheckIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCheckOut</servlet-name>
        <url-pattern>/CancelCheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModDoc</servlet-name>
        <url-pattern>/ModDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModDocF</servlet-name>
        <url-pattern>/ModDocF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListVerDoc</servlet-name>
        <url-pattern>/ListVerDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelDoc</servlet-name>
        <url-pattern>/DelDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterForm</servlet-name>
        <url-pattern>/FilterForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
