/* CSS Document    Style sheet for the CSS2 specification */

.OPDForm
{
font-family: Tahoma,Helvetica;
font-size: 12px;    
}

.TabTerm
{
font-family: Tahoma,Helvetica;
font-size: 12px; 
background-color: #EBF3FF;
border: 3px;
border-bottom-color: #FFFFFF;
}

.HeadTerm
{
background-color: #D3E7FF;
}

.icon_fileAlert {
    background-image: url(folderAlert.png);
}
.icon_openedAlert {
    background-image: url(folderAlertOpen.gif);
}
.icon_closedAlert {
    background-image: url(folderAlert.png);
}
.icon_fileCritic {
    background-image: url(folderCritic.png);
}
.icon_openedCritic {
    background-image: url(folderCriticOpen.png);
}
.icon_closedCritic {
    background-image: url(folderCritic.png);
}
