<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>OpenProdoc Web Client</description>
    <display-name>OpenProdoc Web Client</display-name>
    <servlet>
        <servlet-name>SParent</servlet-name>
        <servlet-class>prodocUI.servlet.SParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMain</servlet-name>
        <servlet-class>prodocUI.servlet.SMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServParent</servlet-name>
        <servlet-class>prodocServ.ServParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFolders</servlet-name>
        <servlet-class>prodocServ.ListFolders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPaperBin</servlet-name>
        <servlet-class>prodocUI.servlet.SPaperBin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPassChange</servlet-name>
        <servlet-class>prodocUI.servlet.SPassChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SExit</servlet-name>
        <servlet-class>prodocUI.servlet.SExit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFold</servlet-name>
        <servlet-class>prodocUI.servlet.AddFold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelFold</servlet-name>
        <servlet-class>prodocUI.servlet.DelFold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModFold</servlet-name>
        <servlet-class>prodocUI.servlet.ModFold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoldAdv</servlet-name>
        <servlet-class>prodocUI.servlet.AddFoldAdv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModFoldAdv</servlet-name>
        <servlet-class>prodocUI.servlet.ModFoldAdv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshFold</servlet-name>
        <servlet-class>prodocUI.servlet.RefreshFold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFold</servlet-name>
        <servlet-class>prodocUI.servlet.SearchFold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshDocs</servlet-name>
        <servlet-class>prodocUI.servlet.RefreshDocs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTypeFolds</servlet-name>
        <servlet-class>prodocServ.ListTypeFolds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoc</servlet-name>
        <servlet-class>prodocUI.servlet.AddDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelDoc</servlet-name>
        <servlet-class>prodocUI.servlet.DelDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDocAdv</servlet-name>
        <servlet-class>prodocUI.servlet.AddDocAdv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTypeDocs</servlet-name>
        <servlet-class>prodocServ.ListTypeDocs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModDocAdv</servlet-name>
        <servlet-class>prodocUI.servlet.ModDocAdv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>prodocUI.servlet.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCheckOut</servlet-name>
        <servlet-class>prodocUI.servlet.CancelCheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIn</servlet-name>
        <servlet-class>prodocUI.servlet.CheckIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendDoc</servlet-name>
        <servlet-class>prodocUI.servlet.SendDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDoc</servlet-name>
        <servlet-class>prodocUI.servlet.SearchDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListVer</servlet-name>
        <servlet-class>prodocUI.servlet.ListVer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDoc</servlet-name>
        <servlet-class>prodocServ.ListDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDocDel</servlet-name>
        <servlet-class>prodocServ.ListDocDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>prodocUI.servlet.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTypeRep</servlet-name>
        <servlet-class>prodocServ.ListTypeRep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMainThes</servlet-name>
        <servlet-class>prodocUI.servlet.SMainThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddThes</servlet-name>
        <servlet-class>prodocUI.servlet.AddThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshThes</servlet-name>
        <servlet-class>prodocUI.servlet.RefreshThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTerm</servlet-name>
        <servlet-class>prodocServ.ListTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelThes</servlet-name>
        <servlet-class>prodocUI.servlet.DelThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModThes</servlet-name>
        <servlet-class>prodocUI.servlet.ModThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTerm</servlet-name>
        <servlet-class>prodocUI.servlet.AddTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModTerm</servlet-name>
        <servlet-class>prodocUI.servlet.ModTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelTerm</servlet-name>
        <servlet-class>prodocUI.servlet.DelTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTerm</servlet-name>
        <servlet-class>prodocServ.SearchTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoTerm</servlet-name>
        <servlet-class>prodocServ.InfoTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RowLinkedTerm</servlet-name>
        <servlet-class>prodocServ.RowLinkedTerm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SParent</servlet-name>
        <url-pattern>/SParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMain</servlet-name>
        <url-pattern>/SMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServParent</servlet-name>
        <url-pattern>/ServParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFolders</servlet-name>
        <url-pattern>/ListFolders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPaperBin</servlet-name>
        <url-pattern>/SPaperBin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPassChange</servlet-name>
        <url-pattern>/SPassChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SExit</servlet-name>
        <url-pattern>/SExit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFold</servlet-name>
        <url-pattern>/AddFold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelFold</servlet-name>
        <url-pattern>/DelFold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModFold</servlet-name>
        <url-pattern>/ModFold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoldAdv</servlet-name>
        <url-pattern>/AddFoldAdv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModFoldAdv</servlet-name>
        <url-pattern>/ModFoldAdv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshFold</servlet-name>
        <url-pattern>/RefreshFold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFold</servlet-name>
        <url-pattern>/SearchFold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshDocs</servlet-name>
        <url-pattern>/RefreshDocs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTypeFolds</servlet-name>
        <url-pattern>/ListTypeFolds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoc</servlet-name>
        <url-pattern>/AddDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelDoc</servlet-name>
        <url-pattern>/DelDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocAdv</servlet-name>
        <url-pattern>/AddDocAdv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTypeDocs</servlet-name>
        <url-pattern>/ListTypeDocs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModDocAdv</servlet-name>
        <url-pattern>/ModDocAdv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCheckOut</servlet-name>
        <url-pattern>/CancelCheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIn</servlet-name>
        <url-pattern>/CheckIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendDoc</servlet-name>
        <url-pattern>/SendDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDoc</servlet-name>
        <url-pattern>/SearchDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListVer</servlet-name>
        <url-pattern>/ListVer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDoc</servlet-name>
        <url-pattern>/ListDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDocDel</servlet-name>
        <url-pattern>/ListDocDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTypeRep</servlet-name>
        <url-pattern>/ListTypeRep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMainThes</servlet-name>
        <url-pattern>/SMainThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddThes</servlet-name>
        <url-pattern>/AddThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshThes</servlet-name>
        <url-pattern>/RefreshThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTerm</servlet-name>
        <url-pattern>/ListTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelThes</servlet-name>
        <url-pattern>/DelThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModThes</servlet-name>
        <url-pattern>/ModThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTerm</servlet-name>
        <url-pattern>/AddTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModTerm</servlet-name>
        <url-pattern>/ModTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelTerm</servlet-name>
        <url-pattern>/DelTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTerm</servlet-name>
        <url-pattern>/SearchTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoTerm</servlet-name>
        <url-pattern>/InfoTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RowLinkedTerm</servlet-name>
        <url-pattern>/RowLinkedTerm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
