<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SMain</servlet-name>
        <servlet-class>OpenProdocUI.SMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SParent</servlet-name>
        <servlet-class>OpenProdocUI.SParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>OpenProdocServ.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLogin</servlet-name>
        <servlet-class>OpenProdocUI.SLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>OpenProdocServ.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>OpenProdocServ.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tree</servlet-name>
        <servlet-class>OpenProdocServ.Tree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFoldRec</servlet-name>
        <servlet-class>OpenProdocUI.SFoldRec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocList</servlet-name>
        <servlet-class>OpenProdocServ.DocList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendDoc</servlet-name>
        <servlet-class>OpenProdocServ.SendDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>OpenProdocServ.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFold</servlet-name>
        <servlet-class>OpenProdocServ.AddFold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelFold</servlet-name>
        <servlet-class>OpenProdocServ.DelFold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdFold</servlet-name>
        <servlet-class>OpenProdocServ.UpdFold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoldExt</servlet-name>
        <servlet-class>OpenProdocServ.AddFoldExt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formCombo</servlet-name>
        <servlet-class>OpenProdocServ.formCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModFoldExt</servlet-name>
        <servlet-class>OpenProdocServ.ModFoldExt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SThesaurMain</servlet-name>
        <servlet-class>OpenProdocUI.SThesaurMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuThes</servlet-name>
        <servlet-class>OpenProdocServ.MenuThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThesTree</servlet-name>
        <servlet-class>OpenProdocServ.ThesTree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SThesRec</servlet-name>
        <servlet-class>OpenProdocUI.SThesRec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddThes</servlet-name>
        <servlet-class>OpenProdocServ.AddThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelThes</servlet-name>
        <servlet-class>OpenProdocServ.DelThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModThes</servlet-name>
        <servlet-class>OpenProdocServ.ModThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFold</servlet-name>
        <servlet-class>OpenProdocServ.SearchFold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenReport</servlet-name>
        <servlet-class>OpenProdocServ.GenReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepList</servlet-name>
        <servlet-class>OpenProdocServ.RepList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTerm</servlet-name>
        <servlet-class>OpenProdocServ.AddTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelTerm</servlet-name>
        <servlet-class>OpenProdocServ.DelTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdTerm</servlet-name>
        <servlet-class>OpenProdocServ.UpdTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TermRT</servlet-name>
        <servlet-class>OpenProdocServ.TermRT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TermLang</servlet-name>
        <servlet-class>OpenProdocServ.TermLang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TermNT</servlet-name>
        <servlet-class>OpenProdocServ.TermNT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TermUF</servlet-name>
        <servlet-class>OpenProdocServ.TermUF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TermDetails</servlet-name>
        <servlet-class>OpenProdocServ.TermDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTerm</servlet-name>
        <servlet-class>OpenProdocServ.SearchTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportThes</servlet-name>
        <servlet-class>OpenProdocServ.ExportThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportThes</servlet-name>
        <servlet-class>OpenProdocServ.ImportThes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImporThes0</servlet-name>
        <servlet-class>OpenProdocServ.ImporThes0</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportThes0</servlet-name>
        <servlet-class>OpenProdocServ.ImportThes0</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportThesF</servlet-name>
        <servlet-class>OpenProdocServ.ImportThesF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpFileStatus</servlet-name>
        <servlet-class>OpenProdocServ.UpFileStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoc</servlet-name>
        <servlet-class>OpenProdocServ.AddDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportDocF</servlet-name>
        <servlet-class>OpenProdocServ.ImportDocF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelDoc</servlet-name>
        <servlet-class>OpenProdocServ.DelDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModDoc</servlet-name>
        <servlet-class>OpenProdocServ.ModDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModDocF</servlet-name>
        <servlet-class>OpenProdocServ.ModDocF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>OpenProdocServ.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCheckOut</servlet-name>
        <servlet-class>OpenProdocServ.CancelCheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIn</servlet-name>
        <servlet-class>OpenProdocServ.CheckIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDocExt</servlet-name>
        <servlet-class>OpenProdocServ.AddDocExt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocCombo</servlet-name>
        <servlet-class>OpenProdocServ.DocCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDoc</servlet-name>
        <servlet-class>OpenProdocServ.SearchDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Oper</servlet-name>
        <servlet-class>OpenProdocServ.Oper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListVerDoc</servlet-name>
        <servlet-class>OpenProdocServ.ListVerDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassChange</servlet-name>
        <servlet-class>OpenProdocServ.PassChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrashBin</servlet-name>
        <servlet-class>OpenProdocServ.TrashBin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SMain</servlet-name>
        <url-pattern>/SMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SParent</servlet-name>
        <url-pattern>/SParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tree</servlet-name>
        <url-pattern>/Tree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFoldRec</servlet-name>
        <url-pattern>/SFoldRec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocList</servlet-name>
        <url-pattern>/DocList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendDoc</servlet-name>
        <url-pattern>/SendDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFold</servlet-name>
        <url-pattern>/AddFold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelFold</servlet-name>
        <url-pattern>/DelFold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdFold</servlet-name>
        <url-pattern>/UpdFold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoldExt</servlet-name>
        <url-pattern>/AddFoldExt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formCombo</servlet-name>
        <url-pattern>/formCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModFoldExt</servlet-name>
        <url-pattern>/ModFoldExt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SThesaurMain</servlet-name>
        <url-pattern>/SThesaurMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuThes</servlet-name>
        <url-pattern>/MenuThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThesTree</servlet-name>
        <url-pattern>/ThesTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SThesRec</servlet-name>
        <url-pattern>/SThesRec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddThes</servlet-name>
        <url-pattern>/AddThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelThes</servlet-name>
        <url-pattern>/DelThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModThes</servlet-name>
        <url-pattern>/ModThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFold</servlet-name>
        <url-pattern>/SearchFold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenReport</servlet-name>
        <url-pattern>/GenReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepList</servlet-name>
        <url-pattern>/RepList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTerm</servlet-name>
        <url-pattern>/AddTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelTerm</servlet-name>
        <url-pattern>/DelTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdTerm</servlet-name>
        <url-pattern>/UpdTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TermRT</servlet-name>
        <url-pattern>/TermRT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TermLang</servlet-name>
        <url-pattern>/TermLang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TermNT</servlet-name>
        <url-pattern>/TermNT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TermUF</servlet-name>
        <url-pattern>/TermUF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TermDetails</servlet-name>
        <url-pattern>/TermDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTerm</servlet-name>
        <url-pattern>/SearchTerm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportThes</servlet-name>
        <url-pattern>/ExportThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportThes</servlet-name>
        <url-pattern>/ImportThes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImporThes0</servlet-name>
        <url-pattern>/ImporThes0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportThes0</servlet-name>
        <url-pattern>/ImportThes0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportThesF</servlet-name>
        <url-pattern>/ImportThesF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpFileStatus</servlet-name>
        <url-pattern>/UpFileStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoc</servlet-name>
        <url-pattern>/AddDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportDocF</servlet-name>
        <url-pattern>/ImportDocF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelDoc</servlet-name>
        <url-pattern>/DelDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModDoc</servlet-name>
        <url-pattern>/ModDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModDocF</servlet-name>
        <url-pattern>/ModDocF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCheckOut</servlet-name>
        <url-pattern>/CancelCheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIn</servlet-name>
        <url-pattern>/CheckIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocExt</servlet-name>
        <url-pattern>/AddDocExt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocCombo</servlet-name>
        <url-pattern>/DocCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDoc</servlet-name>
        <url-pattern>/SearchDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Oper</servlet-name>
        <url-pattern>/Oper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListVerDoc</servlet-name>
        <url-pattern>/ListVerDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassChange</servlet-name>
        <url-pattern>/PassChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrashBin</servlet-name>
        <url-pattern>/TrashBin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
